node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*

/extensions/*/dist
/extensions/*/generated

.shopify/*
.shopify.lock

.react-router/

# OS files
.DS_Store
*.swp
*.swo

# IDE/AI folders
.idea/
.vscode/
